@charset "utf-8";
/* CSS Document */
* {
	margin: 0px;
	padding: 0px;
	list-style: none;
	text-decoration: none
}
input {
	font-family: 'Open Sans', sans-serif;
}
.innerShadow {
	-moz-box-shadow: 0 3px 2px rgba(0, 0, 0, 0.24) inset;
	-webkit-box-shadow: 0 3px 2px rgba(0, 0, 0, 0.24) inset;
	box-shadow: 0 3px 2px rgba(0, 0, 0, 0.24) inset;
}
body {
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	color: #666
}
.clr {
	clear: both
}
nav {
	background: #6ab6c3;
	-webkit-box-shadow: 0px 9px 2px -7px #127089;
	-moz-box-shadow: 0px 9px 2px -7px #127089;
	box-shadow: 0px 9px 2px -7px #127089;
	padding: 5px
}
nav img {
	float: right
}
.main {
	width: 320px;
	margin: 0 auto;
}
.midContainer {
	position: relative;
	border-bottom: 6px solid #345c7b;
	height: 220px
}
.midContainer img {
	position: absolute;
	z-index: -1
}
.redColom {
	background: #e77064;
	border-bottom: 6px solid #ce4849;
	padding: 30px 0 40px
}
.redColom p {
	color: #fff;
	text-align: center;
	text-shadow: 0px 0px 3px #555;
	font-size: 15px
}
.redColom ul li {
	float: left;
	background: url(../images/redbutl.png) no-repeat right center;
	padding: 0 9px
}
.redColom ul li:last-child {
	background: none
}
.redColom ul li a {
	color: #841619;
	font-weight: 600;
	font-size: 12px
}
.redbtn {
	margin: 12px 0
}
.redbtn a {
	color: #fff;
	padding: 8px 20px;
	background: url(../images/redArw.png) no-repeat 94% center #ce4849;
	display: block;
	border-radius: 4px;
	width: 250px;
	margin: 0 auto;
	font-size: 18px;
	text-align: center
}
.redbtn a:hover {
	background: url(../images/redArw.png) no-repeat 96% center #ce4849;
	transition: all 0.5s ease 0s
}
.yellowColom {
	background: #f3b16f;
	border-color: #e39053
}
.yellowbtn a {
	background: url(../images/yelowArw.png) no-repeat 94% center #e39053;
}
.yellowbtn a:hover {
	background: url(../images/yelowArw.png) no-repeat 96% center #e39053;
	transition: all 0.5s ease 0s
}
.yellowBox {
	padding: 30px 0 45px;
	background: #fac37f;
	border-bottom: 6px solid #e79856
}
.yellowBox h2 {
	font-size: 30px;
	color: #fff;
	text-shadow: 0px 0px 2px #c0c0c0;
	text-align: center;
	margin-bottom: 30px
}
.textBox {
	font-weight: 400;
	padding: 6px 10px;
	border-radius: 4px;
	border: 1px solid #999;
	width: 80%;
	margin: 0 auto;
	display: block;
	color: #666
}
.yellowRealBtn {
	border-radius: 4px;
	background: #e39053;
	border: none;
	font-size: 18px;
	color: #fff;
	width: 87%;
	display: block;
	margin: 8px auto 0;
	padding: 3px 0
}
.yellowRealBtn:hover {
	background: #d5864b
}
.yellowRealBtn:focus {
	background: #a35c27;
	transition: all 0.5s ease 0s
}
.wBox {
	padding: 20px 0;
	background: #fafafb
}
.wBox ul {
	width: 263px;
	margin: 10px auto 0
}
.wBox ul li {
	font-size: 13px;
	padding: 3px 0;
	font-weight: 400
}
.wBox ul li span {
	display: block;
	float: left;
	margin-right: 10px
}
.wBox h3 {
	color: #666;
	font-size: 14px;
	text-align: center;
	font-weight: 600
}
.grayColm {
}
.grayColm ul {
}
.grayColm ul li {
	padding: 35px 0;
	background: #ebeced
}
.grayColm ul li h4, .grayColm ul li h3, .grayColm ul li h2 {
	color: #8e9195;
	font-size: 15px;
	text-align: center;
	font-weight: 600
}
.grayColm ul li h3 {
	color: #606163
}
.grayColm ul li h4 {
	font-size: 13px
}
.grayColm ul li img {
	display: block;
	margin: 10px auto
}
.ylwbox {
	background: #fac37f;
	padding: 20px 0 30px;
}
.yellowPure {
	background: #f8b05a;
	padding: 6px 0;
	width: 92%;
	margin: 10px auto
}
.ylwbox {
}
.ylwbox h2 {
	color: #8e9195;
	background: url(../images/okay.png) no-repeat left center;
	padding-left: 26px;
	font-size: 15px;
	margin: 0 auto;
	width: 220px;
	display: block
}
.ylwbox h2 span {
	font-weight: normal
}
.ylwbox ul {
	width: 230px;
	margin: 10px auto 0
}
.ylwbox ul li {
	float: left;
	padding: 3px 3px 0
}
.minPAdding {
	padding: 10px 0
}
.minPAdding p {
	text-align: center;
	color: #fff;
	font-size: 15px
}
.innerColom {
	background: #fafafb;
	border: 1px solid #c3c4c4;
	width: 92%;
	margin: 0 auto
}
.prodctDetails {;
	padding: 8px
}
.prodctDetails img {
	display: block;
	float: left;
	margin-right: 10px;
	box-shadow: 2px 2px 2px 0px #999;
	height: 108px;
	width: 70px
}
.prodctDetails p {
	padding-bottom: 5px
}
.priceTag {
	margin: 0 auto;
	text-align: center;
	background: #efeeee;
	padding: 10px 0
}
.priceTag h4 {
	font-weight: 600
}
.priceTag h5 {
	font-weight: 400;
	font-size: 13px
}
.priceTag p {
	color: #ee9038;
	font-size: 50px;
	font-weight: 600
}
.priceTag p sup {
	font-size: 30px
}
.hideAction {
	background: #e6e7e7;
	font-size: 13px;
	color: #e69d4a;
	text-align: center;
	padding: 6px 0;
	text-decoration: underline;
	border-top: 1px solid #CCC;
	cursor: pointer;
}
.hideAction span {
	float: right;
	margin-right: 10px;
	transition: all 0.5s ease 0s
}
.hideAction:hover span {
	transform: rotate(360deg);
	-webkit-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
}
.hiddenColom {
	display: none
}
.hiddenColom ul {
	margin-top: 0px
}
.hiddenColom ul li {
	color: #999;
	margin: 0 0 4px 0;
	padding: 0;
	font-size: 14px;
	padding: 3px 0
}
.hiddenColom ul li span {
	float: right
}
p.centerTxt {
	text-align: center;
	font-size: 13px;
	padding: 5px 0 8px
}
p.centerTxt a {
	color: #999;
	text-decoration: underline
}
.typo {
	width: 94%;
	margin: 0 auto;
	border-bottom: 1px solid #CCC
}
.typo h3 {
	font-size: 15px;
	text-align: center;
	padding: 15px 0
}
.typo p {
	font-size: 13px;
	line-height: 20px;
	margin-bottom: 16px;
	font-weight: 600
}
.typo p a {
	color: #cc6624
}
.social {
	padding: 10px 0;
	text-align: center;
	background: #f6f6f7
}
.social h2 {
	font-size: 15px;
	font-weight: 600
}
.social h3 {
	font-size: 14px;
	font-weight: 400;
	color: #999
}
.social ul {
	text-align: center
}
.social ul li {
	display: inline-block
}
.social ul li:hover {
	opacity: 0.8
}
.shippingLabel {
	padding: 20px 0 30px;
	background: #ebeced;
}
.shippingLabel h3 {
	font-size: 14px;
	text-align: center;
	font-weight: 600;
	margin-bottom: 10px
}
.shippingLabel .innerColom {
	background: #fff;
	padding: 8px;
	width: 86%
}
.innerColom h3 {
	text-align: left;
	float: left
}
.yellowborderBot {
	border-bottom: 6px solid #ffa943
}
.productDetails {
	padding: 30px 0 25px;
	background: #f6f6f7
}
.innerBox {
	width: 270px;
	margin: 0 auto
}
.innerBox h3 {
	font-size: 14px;
	font-weight: 600;
	padding: 3px;
	border-bottom: 1px solid #999;
	margin-bottom: 10px
}
.innerBox img {
	float: left;
	display: block;
	margin-right: 10px;
	height: 108px;
	width: 70px
}
.innerBox p {
	margin-bottom: 5px;
	font-size: 13px;
	color: #999
}
.innerColom a {
	font-size: 13px;
	font-weight: 600;
	background: #f8b05a;
	color: #fff;
	padding: 3px 6px;
	float: right
}
.innerColom input[type='text'] , .innerColom select{
	padding: 4px;
	border-radius: 4px;
	border: 1px solid #e1e2e2;
	background: #f1f1f2;
	width: 96%;
	/*margin-bottom: 6px;*/
	font-weight: 500;
	color: #333
}

.innerColom .triSml {
	width: 29.6% !important;
	float: left;
	margin-right:5%
	
}
.innerColom .minMarginR{margin-right:3% !important}
.innerColom .selectBoxD{padding:3px 4px;width:100%}
.innerColom .triSml.last {
	margin-right: 0px
}
.errorbox {
    padding: 0 0 20px;
    position: relative;}
	
.errorbox label.error {
    bottom: 2px;
    font-size: 12px;
    left: 6px;
    position: absolute;
    width: 100%;}
.innerColom .triSml.errorbox{padding-bottom:30px}
.innerColom .triSml.errorbox label.error{bottom:-1px;text-align:center;font-size:11px}


p.line {
	display: block;
	border-top: 1px solid #ccc;
	margin: 4px 0 10px
}
footer {
	background: #6ab6c3;
	padding: 8px 0;
	border-bottom: 6px solid #345c7b
}
footer p {
	width: 270px;
	margin: 0 auto
}
footer p, footer p a {
	color: #345c7b;
	font-size: 13px;
	font-weight: 600
}
footer p a {
	float: right;
	display: inline-block;
	text-decoration: underline
}
footer p a:hover
